* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 50px;
}
.container {
  width: 100%;
  max-width: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
}
.container div:nth-child(1) {
  padding: 30px;
}
.container div:nth-child(1) img {
  width: 100%;
  border-radius: 10px;
}
#heading {
  font-family: "Young Serif";
  padding-left: 30px;
  font-size: 28px;
}
#description {
  padding: 15px 30px;
  font-family: Outfit;
  font-size: 11px;
  color: hsl(24, 5%, 18%);
}

  table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            padding: 20px; 
            text-align: left;
            border-bottom: 1px solid #000; 
        }

        td.amount {
            color: brown;
          font-weight: bold;
        }

@media screen and (max-width: 425px) {
    body{
        padding: 100px 30px;
    }
    .container div:nth-child(1) {
      padding: 15px;
    }
  }
  
@media screen and (max-width: 375px) {
  body {
    padding: 0;
    align-items: unset;
  }
  .container{
    border-radius: 0;
  }
  .container div:nth-child(1) {
    padding: 0;
  }
  .container div:nth-child(1) img {
    border-radius: 0;
  }
}
